.container {
  display: flex;
  align-items: center;
  width: 99%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.image {
  width: 12%;
  max-height: 100px;
}

.title {
  width: 75%;
  padding: 5px;
}

.play {
  width: 10%;
  max-height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #e5e5e5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
