.container {
  width: 20%;
  height: 760px;
  margin-right: 20px;
}

.watchList {
  margin-top: 10px;
  border: 1px solid #000;
  height: 720px;
  padding: 10px;
}

.listItem {
  width: 100%;
  margin-top: 10px;
  list-style: none;
}
