.container {
  width: 20%;
  height: 400px;
  margin-right: 20px;
}

.title {
  font-size: 14px;
}

.watchList {
  margin-top: 10px;
  border: 1px solid #000;
  height: 360px;
  padding: 10px;
}

.listItem {
  width: 100%;
  margin-top: 10px;
  list-style: none;
}

@media screen and (min-width: 1600px) {
  .container {
    height: 760px;
  }

  .watchList {
    height: 720px;
  }

  .title {
    font-size: 24px;
  }

}
