.container {
  margin: 50px auto;
  width: 90%;
}

.appBody {
  display: flex;
  align-items: flex-end;
}

.resultsButton {
  position: absolute;
  right: 7%;
  top: 50px;
  padding: 8px 10px;
  border-redius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
