.container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
  word-wrap: break-word;
  overflow: hidden;
  background-color: #fff;
}

.title {
  width: 80%;
  margin-right: 5px;
  word-wrap: break-word;
  overflow: hidden;
  border-radius: 5px;
}

.title:hover {
  cursor: pointer;
}

.button {
  max-height: 25px;
  padding: 0 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #1e90ff;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
}

.button:hover {
  cursor: pointer;
}
