html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Tahoma', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #e5ffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
